#!/usr/bin/env -S goby_launch -s -P -k30 -ptrail -d500

goby_launch -P topside.launch
[env=goby3_course_n_auvs=4] goby_launch -P usv.launch
[env=goby3_course_n_auvs=4, env=goby3_course_auv_index=0] goby_launch -P auv.launch
[env=goby3_course_n_auvs=4, env=goby3_course_auv_index=1] goby_launch -P auv.launch
[env=goby3_course_n_auvs=4, env=goby3_course_auv_index=2] goby_launch -P auv.launch
[env=goby3_course_n_auvs=4, env=goby3_course_auv_index=3] goby_launch -P auv.launch
