#!/usr/bin/env goby_launch

# start the simulator
[kill=SIGTERM] goby_basic_frontseat_simulator $(config/usv.pb.cfg.py frontseat_sim)

# start the Goby processes 
gobyd <(config/usv.pb.cfg.py gobyd)
goby_frontseat_interface_basic_simulator <(config/usv.pb.cfg.py goby_frontseat_interface_basic_simulator)
goby_liaison <(config/usv.pb.cfg.py goby_liaison)
goby3_course_usv_manager <(config/usv.pb.cfg.py goby3_course_usv_manager)
goby3_course_usv_health_monitor <(config/usv.pb.cfg.py goby3_course_usv_health_monitor)
goby_coroner <(config/usv.pb.cfg.py goby_coroner)
[env=LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${HOME}/goby3-course/build/lib,env=GOBY_MOOS_GATEWAY_PLUGINS=libgoby3_course_moos_gateway_plugin.so] goby_moos_gateway <(config/usv.pb.cfg.py goby_moos_gateway) -v -n
goby3_course_helm <(config/usv.pb.cfg.py goby3_course_helm) -vv -n

# start the MOOS-IvP alpha mission
[kill=SIGTERM] config/moos_gen.sh usv
[kill=SIGTERM] MOOSDB /tmp/usv.moos
#[kill=SIGTERM] pHelmIvP /tmp/usv.moos
[kill=SIGTERM] pMarineViewer /tmp/usv.moos
[kill=SIGTERM] uProcessWatch /tmp/usv.moos
[kill=SIGTERM] pNodeReporter /tmp/usv.moos
[kill=SIGTERM] pShare /tmp/usv.moos -i=multicast_0

