/*
 * Markdown PDF CSS
 */

body {
	font-family: "Gentium", "GentiumBasic";
	padding: 0 12px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	border-radius: 3px;
	overflow-x: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

pre:not(.hljs) {
	padding: 23px;
	line-height: 19px;
}

blockquote {
	background: rgba(127, 127, 127, 0.1);
	border-color: rgba(0, 122, 204, 0.5);
}

.emoji {
	height: 1.4em;
}

code {
	font-size: 11px;
	font-weight:bolder;
	line-height: 19px;
}

/* for inline code */
:not(pre):not(.hljs) > code {
	color: #8400ff; 
	background-color: #e0e0e0a1;
	font-size: inherit;
}

/* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */
.page {
	page-break-after: always;
}
