#!/usr/bin/env goby_launch

# start the Goby processes
gobyd topside_config/gobyd.pb.cfg -vvv
goby3_course_topside_manager topside_config/manager.pb.cfg
goby_opencpn_interface topside_config/goby_opencpn_interface.pb.cfg
goby_liaison topside_config/liaison.pb.cfg
goby_geov_interface topside_config/goby_geov_interface.pb.cfg -vvv

